* {
  align-items: center;
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
}

.text {
  padding: 0.5em 2em;
}

/* navbar section */

.nav-bar {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  padding: 0px;
  margin-bottom: 0px;
}

.nav-item {
  font-size: 13px;
  list-style: none;
  padding: 0.5em 0em 0.6em 0.6em;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  color: blue;
}

.nav-item input {
  width: 2em;
  height: 2em;
}

#udemy-image {
  width: 5em;
}

#cart-image {
  height: 2em;
}

#login-link {
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  border-style: solid;
  padding: 0.5em;
}

#signup-link {
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  color: white;
  background-color: black;
  border-style: solid;
  padding: 0.5em;
}

#menu-button {
  background-image: url(images/Udemy_logo_4.png);
  background-size: cover;
  border: none;
  cursor: pointer;
}

#search-bar-form {
  display: flex;
  padding: 0.5em;
  border-style: groove;
  border-color: grey;
  border-radius: 50px;
}

#search-bar-list-item {
  flex-grow: 1;
}

.search-button {
  background-image: url(images/Udemy_logo_5.png);
  background-size: cover;
  border: none;
  cursor: pointer;
}

#search-button-cart {
  display: none;
}

#search-bar {
  width: 30em;
  border: none;
  outline: none;
}

#lang-button {
  background-image: url(images/Udemy_logo_3.png);
  background-size: cover;
  cursor: pointer;
  height: 2.8em;
  width: 2.8em;
}

/* header section */

.header,
.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#header-img {
  width: 5000px;
  max-width: 100%;
}

.header-billboard {
  position: absolute;
  background-color: white;
  width: 35%;
  top: 10%;
  left: 5.5%;
  padding: 10px;
  z-index: 10;
  font-size: 100%;
  box-shadow: 10px 10px 10px 0px rgb(202, 186, 186);
}

/* courses section */

.wrapper {
  border-style: groove;
  margin: 1em 0em;
  border-color: grey;
}

#explore-link {
  border-style: groove;
  border-color: black;
  background-color: aqua;
  margin: 2em;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.courses-bar {
  display: flex;
  flex-wrap: wrap;
}

.courses-bar input {
  border-style: none;
  background-color: white;
  font-weight: 700;
}

.courses-bar input:hover {
  color: darkslategrey;
  cursor: pointer;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

.course {
  flex: 1 0 19%;
  padding: 0.2em;
}

.course a {
  text-decoration: none;
  color: black;
}

.course-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-in-small-screen {
  display: none;
}

/* medium large screen */

@media screen and (max-width: 1050px) {
  .show-in-small-screen {
    display: inline;
  }

  .hide-in-medium-large-screen {
    display: none;
  }

  .header-billboard {
    font-size: 70%;
    width: 40%;
    top: 10px;
  }
}

/* medium screen */

@media screen and (max-width: 800px) {
  .hide-in-medium-screen {
    display: none;
  }

  .show-in-small-screen {
    display: inline;
  }

  #search-button-cart {
    display: inline;
  }

  .header-billboard {
    position: relative;
    margin: 0;
    top: 0px;
    left: 0px;
    width: 90%;
    font-size: 70%;
  }
}

/* small screen */

@media screen and (max-width: 600px) {
  .hide-in-small-screen {
    display: none;
  }

  .show-in-small-screen {
    display: inline;
  }

  .header-billboard {
    position: relative;
    width: 100%;
  }

  .course {
    flex: 1 0 90%;
  }
}
